-----BEGIN PUBLIC KEY-----
MIICITANBgkqhkiG9w0BAQEFAAOCAg4AMIICCQKCAgBxm3o8WSp+GFr9YObWx534
zAdt02t5NJnKMGwPRzU0J/PoERDShpl97x6vlbFmIL82zr42WSHlddCWUpRNs1cf
kZ9rn5fvXsumUn55OYcw/RvsnVwiaQY22K1rcm985wxEKO5ASxKKv1BLjuYU4r6g
-----END PUBLIC KEY-----